<h1><%= @user.first_name %> <%= @user.last_name %>  <%= @user.decorate.avatar %> </h1>

<p>This users email is <%= @user.email %></p>

<p><%= link_to "Stories", user_stories_path(user_id: @user.id), class: "btn btn-primary" %></p>

<!-- Button trigger modal -->
<p><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal<%@user.id%>">
  Remove user
</button></p>

<!-- Modal -->
<div class="modal fade" id="deleteModal<% @user.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove <%= "#{@user.first_name} #{@user.last_name}" %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <%= link_to "Yes", user_path(@user), method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

<%= form_with model: @user, class: "w-50" do |f| %>
  <div class="form-group">
    <%= f.label "Edit avatar" %>
    <%= f.file_field :avatar %>
  </div>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>  
  <div class="form-group">
    <%= f.label :bio %>
    <%= f.text_area :bio, size: "40x10" %>
  </div>
  <div class="form-group">
    <%= f.label :email %> 
    <%= f.email_field :email %>    
  </div>
  <% if current_user.role == "admin" %>
    <div class="form-group">
      <%= f.label :role %>
      <%= f.select :role, options_for_select(User.roles.keys.to_a), { include_blank: "- Choose a role -" } %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>
  <%= f.submit "Save" %>
<% end %>

<p><%= link_to "Change password", edit_user_path(@user.id), class: "btn btn-primary" %></p>

<% if current_user.admin? %>
  <p><%= link_to "Back to users", users_path, class: "btn btn-secondary" %></p>
<% end %>
