<h1>Stories</h1>

<%= link_to "Create story", new_user_story_path, class: "btn btn-primary" %>
<br>
<br>
<h2>List of Stories</h2>

<h4>Search Stories</h4>
  <%= form_tag(user_stories_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag ("Search") %>
<% end %>

<% @stories.each do |s| %>
  <%= s.title %>
  <%= s.content %>
  <%= link_to "Show", user_story_path(s.user, id: s), class: "btn btn-primary" %>
  <%= link_to "Back to User", user_path(id: s.user_id), class: "btn btn-secondary" %>
  <br>
  <br>
<% end %>

<%= paginate @stories %>
